@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #343541;
    --foreground: #ececf1;

    --accent: #202123;
    --accent-foreground: #fafafa;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
