@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #343541;
    --foreground: #ececf1;

    --accent: #202123;
    --accent-foreground: #fafafa;

    --border: #ffffff1a;
    --border-hover: #ffffff4d;

    --input: #d9d9e333;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
